<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Leitura das sondas</title>
</head>
<body>
	<div class="row">
		<div class="col-12 text-center">
			<h1 class="mt-5">Lista de leituras de sensores</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Data</th>
						<th>Hora</th>
						<th th:each="probesidfs: ${descriptions}" th:text="${probesidfs.description}"/>
					</tr>
				</thead>
				<tbody>
					<tr th:each="probesvalues: ${reads}">
						<td th:text="${#dates.format(probesvalues.date, 'dd/MM/yyyy')}" />
						<td th:text="${#dates.format(probesvalues.time, 'HH:mm')}" />
						<td th:text="${probesvalues.read_value}" />
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>