<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Alarme dos sensores</title>
</head>
<body>
	<div class="row">
		<div class="col-12 text-center">
			<h1 class="mt-5">Lista de alarmes de sensores</h1>
			<h1 th:inline="text"  class="mt-5">Sensor: [[${sensor}]]</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Data</th>
						<th>Hora</th>
						<th>Leitura<th />
						<th>Alarme<th />
					</tr>
				</thead>
				<tbody>
					<tr th:each="alarm: ${alarms}">
						<td th:text="${#dates.format(alarm.probesvalues.read_date, 'dd/MM/yyyy')}" />
						<td th:text="${#dates.format(alarm.probesvalues.read_time, 'HH:mm')}" />
						<td th:text="${alarm.probesvalues.read_value}" />
						<td th:text="${alarm.alarm.description}"/>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>