<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Identificadores das sondas</title>
</head>
<body>
	<div class="row">
		<div class="col-12 text-center">
			<h1 class="mt-5">Lista de descrição de sensores</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Descrição</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="probesidf: ${dados}">
						<td><a
							th:href="@{/probesvalues/{sensor}(sensor=${probesidf.description})}"
							th:text="${probesidf.id_value}"></a></td>
						<td th:text="${probesidf.description}" />

					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>